* {
    font-family: "Rubik","Roboto",sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-header {
    position: fixed;
    top: 15px;
    margin-bottom: 33px;
    width: 1200px;
    height: 70px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section-1 h1 {
    margin-left: 50px;
    margin-right: 64px;
}

.nav-bar ul {
    display: flex;
    gap: 40px;
}

.nav-bar ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */
    color: #071330;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    width: 152px;
    height: 40px;
    background: #3D55F9;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.btn-primary span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #273AB8;
}

.btn-primary:active {
    background: #4B57A9;
}

.btn-primary:focus {
    border: 2px solid #3D55F9;
}

.main-sec-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 234px;
}

.healthy-skin {
    width: 460px;
    height: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 50px;
    /* or 115% */
    color: #071330;
}

.healthy-skin-p {
    width: 450px;
    height: 97px;
    margin-top: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #071330;
}

.healthy-skin-img {
    width: 600px;
    height: 593px;
}

.healthy-skin-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.healthy-skin-box button {
    flex-direction: row-reverse;
    width: 172px;
    height: 56px;
}

.main-sec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 420px;
}

.phone-img {
    width: 270px;
    height: 554px;
    margin-right: 266px;
}

.title {
    width: 137px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #3D55F9;
}

.big-title {
    width: 389px;
    height: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* or 117% */
    color: #071330;
}

.info {
    width: 437px;
    height: 97px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #071330;
}

.main-sec-3 {
    align-items: center;
    justify-content: center;
}

.main-sec-3 h2 {
    width: 700px;
    height: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* or 117% */
    text-align: center;
    color: #071330;
    margin-bottom: 66px;
    margin-left: 250px;
}

.treatment-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.treatment-options img {
    width: 331px;
    height: 431px;
}

.new-options span {
    padding-top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-options div {
    width: 56px;
    height: 56px;
    background: #3D55F9;
    box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
    border-radius: 28px;
    text-align: center;
    
}

.new-options h3 {
    width: 157px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #071330;
    margin-top: 24px;
}

.new-options p {
    width: 535px;
    height: 96px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: rgba(7, 19, 48, 0.6);
    margin-top: 23px;
    margin-right: 200px;
}

.main-sec-4 {
    align-items: center;
    justify-content: center;
    margin-top: 189px;
    margin-bottom: 217px
}

.sec4-h2 {
    width: 693px;
    height: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 56px;
    /* or 207% */
    text-align: center;
    color: #F0BCA3;
    margin-left: 250px;
}

.customers-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
    margin-bottom: 154px;
}

.robyn-kutka {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    text-align: center;
    color: rgba(7, 19, 48, 0.6);
}

.info-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informations-2 {
    margin-left: 250px;
    margin-right: 266px;
}

.info-div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-div-1 h2 {
    flex-direction: row-reverse;
    width: 462px;
    height: 47px;
}

.info-div-1 p {
    flex-direction: row-reverse;
    width: 468px;
    height: 97px;
}

.info-div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.info-div-2 h2 {
    flex-direction: row-reverse;
    width: 354px;
    height: 94px;
}

.info-2 {
    width: 429px;
    height: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    /* or 267% */
    color: #071330;
    margin-bottom: 31px;
    margin-top: 33px;
}

.info-div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.phone-img2 {
    width: 270px;
    height: 554px;
    margin-right: 266px;
}

.info-div-3 h2 {
    width: 428px;
    height: 140px;
}

.info-div-3 p {
    flex-direction: row-reverse;
    margin-bottom: 6px;
    width: 432px;
    height: 33px;
}

.info-3 {
    width: 468px;
    height: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    /* or 267% */
    color: #071330;
    margin-bottom: 63px;
}

.research-monitoring {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}

.research-monitoring p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #071330;
    margin-left: 24px;
}

.main-sec-5 {
    align-items: center;
    justify-content: center;
    margin-bottom: 240px;
}

.about-remmy {
    width: 108px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    color: #3D55F9;
    margin-left: 500px;
}

.remmy-everyone {
    width: 472px;
    height: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* or 117% */
    text-align: center;
    color: #071330;
    margin-left: 330px;
}

.remmy-p {
    width: 491px;
    height: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    /* or 267% */
    text-align: center;
    color: #071330;
    margin-bottom: 166px;
    margin-left: 330px;
}   

.motivation-remmy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivation-img {
    border-radius: 120px 120px 120px 12px;
}

.dont-h3 {
    width: 183px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #071330;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 129px;
}

.love-h3 {
    width: 183px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    color: #071330;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 129px;
}

.dont-give-up p {
    width: 440px;
    height: 129px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #071330;
    margin-left: 129px;
}

.dont-img {
    margin-left: 129px;
}

.love-yourself {
    margin-left: 110px;
}



.remmy-everyone2 {
    width: 703px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* or 117% */
    text-align: center;
    color: #071330;
    margin-left: 250px;
}

.main-sec-6 {
    align-items: center;
    justify-content: center;
    margin-bottom: 159px;
}

.main-sec-6 p {
    flex-direction: row-reverse;
    width: 907px;
    height: 33px;
    margin-left: 150px;
}

.btn-ills-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-ills-6 div:nth-child(1) {
    background: rgba(127, 221, 240, 0.1);
}

.btn-ills-6 div:nth-child(2) {
    background: rgba(95, 174, 236, 0.1);
}

.btn-ills-6 div:nth-child(3) {
    background: rgba(155, 120, 253, 0.08);
}

.btn-ills-6 div:nth-child(4) {
    background: rgba(239, 156, 208, 0.1);
}

.btn-ills-6 div:nth-child(5) {
    background: rgba(246, 132, 94, 0.1);
}

.btn-ills-6 div:nth-child(6) {
    background: rgba(249, 182, 94, 0.1);
}

.btn-ills-4 div:nth-child(1) {
    background: rgba(255, 221, 87, 0.1);
}

.btn-ills-4 div:nth-child(2) {
    background: rgba(171, 224, 80, 0.1);
}

.btn-ills-4 div:nth-child(3) {
    background: rgba(123, 207, 166, 0.1);
}

.btn-ills-4 div:nth-child(4) {
    background: #F7F8FC;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}

.btn-ills-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-ills-10 {
    width: 158px;
    height: 104px;
    border-radius: 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 83px;
}
.line {
    display: inline-block;
    width: 1100px;
    height: 1px;
    background: rgba(7, 19, 48, 0.05);
    margin-bottom: 84px;
    margin-left: 70px;
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 120% */
    color: rgba(7, 19, 48, 0.5);
    margin-right: 538px;
    margin-left: 60px;
}

.footer-div-2 nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div-2 ul li a {
    width: 84px;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */
    color: rgba(7, 19, 48, 0.5);
    margin-right: 40px;
}

.footer-li {
    width: 100px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */
    color: rgba(7, 19, 48, 0.5);
    
}

