.example {
    width: 800px;
    height: 800px;
    background-image: url(../imege/Image/sunset\ desktop\ wallpaper.jpg);
    background-repeat: no-repeat;
    /*background-size: contain;(boxga butun holda ko'rinadi
    background-size: cover;(o'zini width bilan heightni oldi)*/
    background-size: 350px 150px;
    background-position: center;
}

.box {
    width: 400px;
    height: 400px;
    background-image:radial-gradient(
    pink 0%,
    pink 40%,
    blue 40%,
    blue 60%,
    purple 60%,
    purple 100%) 
    /*linear-gradient( /*to right*/ /*50deg, 
    red 0%,
    red 30%,
    blue 30%,
    blue 86%,
    purple 86%, 
    purple 100%);*/
}

.box p {
    font-size: 50px;
    font-weight: 700px;
}